
<% content_for :navbar_custom_content do %>
  <% if session[:user_id] %>
  <a class="nav-link" href="<%= pricing_path %>">Access Drive</a>
  <% end %>
  <a class="nav-link" href="<%= pricing_path %>">Plans</a>
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Language
  </a>
  <% if session[:user_id] %>
    <a class="nav-link" href="<%= signout_path %>">Logout</a>
  <% else %>
    <%= link_to 'Sign in with Google', '/auth/google_oauth2', class: 'nav-link' %>
  <% end %>
<% end %>

<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<h1 class="text-center">SCEGLI L ARCHIVIO GIUSTO PER LE TUE ESIGENZE</h1>

<div>
  <img src="<%= asset_path('myDrive.jpg') %>" class="img-fluid" alt="Logo" style="width: 10%; display: block; margin-left: auto; margin-right: auto">
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl ac tincidunt tincidunt, justo nunc ultrices nunc, id aliquam nisl nunc id nunc. Sed auctor, nunc id tincidunt lacinia, nunc nunc aliquet nunc, id aliquam nunc nunc id nunc. Sed auctor, nunc id tincidunt lacinia, nunc nunc aliquet nunc, id aliquam nunc nunc id nunc.</p>


<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="<%= asset_path('myDrive.jpg') %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Funzionalità</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="<%= asset_path('myDrive.jpg') %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Funzionalità</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="<%= asset_path('myDrive.jpg') %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Funzionalità</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="<%= asset_path('myDrive.jpg') %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Funzionalità</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
