
<% content_for :navbar_custom_content do %>
  <% if session[:user_id] %>
    <a class="nav-link" href="<%= pricing_path %>">Accedi a Drive</a>
  <%end%>
  <a class="nav-link" href="<%= pricing_path %>">Plans</a>
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Language
  </a>
  <% if session[:user_id] %>
    <a class="nav-link" href="<%= signout_path %>">Logout</a>
  <% else %>
    <%= link_to 'Sign in with Google', '/auth/google_oauth2', class: 'nav-link' %>
  <% end %>
<% end %>

<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

 <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">SCEGLI L'ARCHIVIO GIUSTO PER LE TUE ESIGENZE</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col" id="sideBar">
        <div class="row">
          <p class="text-center">
            Archivia i tuoi file in modo sicuro e convertili in uno dei molti formati supportati. I file sono sempre controllati con VirusTotal e i pagamenti sono gestiti tramite Stripe.
          </p>
        </div>
        <div class="row">
          <% if session[:user_id] %>
            <button class="btn btn-primary btn-lg btn-block" id="driveButton" onclick="window.location.href='<%= pricing_path %>';">Accedi a Drive</button>
          <% end %>
        </div>
      </div>
      <div class="col-9">
        <div class="carousel">
          <div class="carousel-images">
            <div class="carousel-image">
              <img src="<%= asset_path('virustotal.png') %>" alt="First slide">
            </div>
            <div class="carousel-image">
              <img src="<%= asset_path('conversion.jpg') %>" alt="Second slide">
            </div>
            <div class="carousel-image">
              <img src="<%= asset_path('drive.jpg') %>" alt="Third slide">
            </div>
          </div>
        </div>        
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <p></p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card">
          <img src="<%= asset_path('drive.jpg') %>" class="card-img-top" alt="drive">
          <div class="card-body">
            <h5 class="card-title">Archiviazione</h5>
            <p class="card-text">Gestisci i tuoi file con facilità su google drive.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="<%= asset_path('conversion.jpg') %>" class="card-img-top" alt="cloudmersive">
          <div class="card-body">
            <h5 class="card-title">Conversione</h5>
            <p class="card-text">Converti i tuoi file in uno dei molti formati supportati.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="<%= asset_path('virustotal.png') %>" class="card-img-top" alt="virustotal">
          <div class="card-body">
            <h5 class="card-title">Sicurezza dei file</h5>
            <p class="card-text">I file sono sempre controllati con VirusTotal.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="<%= asset_path('stripe.png') %>" class="card-img-top" alt="Stripe">
          <div class="card-body">
            <h5 class="card-title">Pagamenti sicuri</h5>
            <p class="card-text">Tutti i pagamenti sono gestiti tramite Stripe.</p>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  let currentIndex = 0;
  const images = document.querySelectorAll('.carousel-image');
  const totalImages = images.length;

  function showNextImage() {
    currentIndex = (currentIndex + 1) % totalImages;
    document.querySelector('.carousel-images').style.transform = `translateX(-${currentIndex * 100}%)`;
  }

  setInterval(showNextImage, 3000);
</script>