
<% content_for :navbar_custom_content do %>
  <div class="navbar-nav">
    <a class="nav-link" href="<%= pricing_path %>">Plans</a>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a href="#" class="dropdown-item" data-locale="en">English</a></li>
        <li><a href="#" class="dropdown-item" data-locale="it">Italiano</a></li>
      </ul>
    </li>
  </div>
  <div class="navbar-nav ms-auto">
    <% if session[:user_id] %>
      <a class="nav-link" href="<%= dashboard_path %>">Accedi a Drive</a>
    <%end%>
    <% if session[:user_id] %>
      <a class="nav-link" href="<%= signout_path %>"><%= t('hello')%></a>
    <% else %>
      <%= link_to 'Sign in with Google', '/auth/google_oauth2', class: 'nav-link' %>
    <% end %>
  </div>
<% end %>


<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

 <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="text-center">SCEGLI L'ARCHIVIO GIUSTO PER LE TUE ESIGENZE</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4" id="sideBar">
        <div class="row">
          <p class="text-center">
            Archivia i tuoi file in modo sicuro e convertili in uno dei molti formati supportati. I file sono sempre controllati con VirusTotal e i pagamenti sono gestiti tramite Stripe.
          </p>
        </div>
        <div class="row">
          <% if session[:user_id] %>
            <button class="btn btn-primary btn-lg btn-block" id="driveButton" onclick="window.location.href='<%= pricing_path %>';">Accedi a Drive</button>
          <% end %>
        </div>
      </div>
      <div class="col-8">
        <div class="carousel">
          <div class="carousel-images">
            <div class="carousel-image">
              <img src="<%= asset_path('virustotal.png') %>" alt="First slide">
            </div>
            <div class="carousel-image">
              <img src="<%= asset_path('conversion.jpg') %>" alt="Second slide">
            </div>
            <div class="carousel-image">
              <img src="<%= asset_path('drive.jpg') %>" alt="Third slide">
            </div>
          </div>
        </div>        
      </div>
    </div>
    
    <div class="row">
      <div class="card-container">
        <div class="left-card">
            <div class="left-card-image">
              <img src="<%= asset_path('drive.jpg') %>" alt="Image 1">
            </div>
            <div class="left-card-content">
              <h5 class="card-title">Archiviazione</h5>
              <p class="card-text">Gestisci i tuoi file con facilità su google drive.</p>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-container">
        <div class="right-card">
            <div class="right-card-content">
              <h5 class="card-title">Conversione</h5>
              <p class="card-text">Converti i tuoi file in uno dei molti formati supportati.</p>
            </div>
            <div class="right-card-image">
              <img src="<%= asset_path('conversion.jpg') %>" alt="Image 1">
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-container">
        <div class="left-card">
            <div class="left-card-image">
              <img src="<%= asset_path('virustotal.png') %>" alt="Image 1">
            </div>
            <div class="left-card-content">
              <h5 class="card-title">Sicurezza dei file</h5>
              <p class="card-text">I file sono sempre controllati con VirusTotal.</p>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-container">
        <div class="right-card">
            <div class="right-card-content">
              <h5 class="card-title">Pagamenti sicuri</h5>
              <p class="card-text">Tutti i pagamenti sono gestiti tramite Stripe.</p>
            </div>
            <div class="right-card-image">
              <img src="<%= asset_path('stripe.png') %>" alt="Image 1">
            </div>
        </div>
      </div>
    </div>
</div>

<script>
  let currentIndex = 0;
  const images = document.querySelectorAll('.carousel-image');
  const totalImages = images.length;

  function showNextImage() {
    currentIndex = (currentIndex + 1) % totalImages;
    document.querySelector('.carousel-images').style.transform = `translateX(-${currentIndex * 100}%)`;
  }

  setInterval(showNextImage, 3000);
</script>