<% content_for :navbar_custom_content do %>
  <div class="navbar-nav ms-auto">  

    <% if session[:user_id] %>

      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="<%= current_user.profile_picture %>" onerror="this.style.display='none'; document.getElementById('default-profile-icon').style.display='block';" class="rounded-circle" width="30" height="30" style="display: block;">
          <i id="default-profile-icon" class="bi bi-person-circle" style="font-size: 1.5rem; display: none;"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= dashboard_path %>"><%= t('home.access-drive') %></a>
          <% if session[:user_id] && current_user.admin_user.present? %>
            <a class="dropdown-item" href="<%= admin_path %>"><%= t('admin.access-admin') %></a>
          <% end %>  
          <a class="dropdown-item" href="<%= pricing_path %>"><%= t('home.plans') %></a>
          <li><a class="dropdown-item" href="<%= settings_path %>"><%= t('dash.settings') %></a></li>
          <li><a class="dropdown-item" href="<%= signout_path %>"><%= t('dash.signout') %></a></li>
        </ul>
      </div>
    <% else %>
      <a class="nav-link" href="<%= pricing_path %>"><%= t('home.plans') %></a>
      <%= link_to 'Sign in with Google', '/auth/google_oauth2', class: 'nav-link' %>
    <% end %>
  </div>
<% end %>






<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>

 <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="text-center"><%= t('home.head-title')%></h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4" id="sideBar">
        <div class="row">
          <p class="text-center"><%= t('home.side-text')%></p>
        </div>
        <div class="row">
          <% if session[:user_id] %>
            <button class="btn btn-primary btn-lg btn-block" id="driveButton" onclick="window.location.href='<%= dashboard_path %>';"><%= t('home.access-drive')%></button>
          <% end %>
        </div>
      </div>
      <div class="col-8">
        <div class="carousel">
          <div class="carousel-images">
            <div class="carousel-image">
              <img src="<%= asset_path('virustotal-carousel.png') %>" alt="First slide">
            </div>
            <div class="carousel-image">
              <img src="<%= asset_path('stripe-carousel.jpg') %>" alt="Third slide">
            </div>
            <div class="carousel-image">
              <img src="<%= asset_path('drive-carousel.jpg') %>" alt="First slide">
            </div>
            <div class="carousel-image">
              <img src="<%= asset_path('conversion.png') %>" alt="Second slide">
            </div>
          </div>
        </div>        
      </div>
    </div>
    
    <div class="row">
      <div class="card-container">
        <div class="left-card">
            <div class="left-card-image">
              <img src="<%= asset_path('drive2.jpg') %>" alt="Image 1">
            </div>
            <div class="left-card-content">
              <h5 class="card-title"><%= t('home.first-card-title')%></h5>
              <p class="card-text"><%= t('home.first-card-text')%></p>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-container">
        <div class="right-card">
            <div class="right-card-content">
              <h5 class="card-title"><%= t('home.second-card-title')%></h5>
              <p class="card-text"><%= t('home.second-card-text')%></p>
            </div>
            <div class="right-card-image">
              <img src="<%= asset_path('cloudmersive2.png') %>" alt="Image 1">
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-container">
        <div class="left-card">
            <div class="left-card-image">
              <img src="<%= asset_path('virustotal.png') %>" alt="Image 1">
            </div>
            <div class="left-card-content">
              <h5 class="card-title"><%= t('home.third-card-title')%></h5>
              <p class="card-text"><%= t('home.third-card-text')%></p>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-container">
        <div class="right-card">
            <div class="right-card-content">
              <h5 class="card-title"><%= t('home.fourth-card-title')%></h5>
              <p class="card-text"><%= t('home.fourth-card-text')%></p>
            </div>
            <div class="right-card-image">
              <img src="<%= asset_path('stripe.png') %>" alt="Image 1">
            </div>
        </div>
      </div>
    </div>
</div>

<script>
  let currentIndex = 0;
  const images = document.querySelectorAll('.carousel-image');
  const totalImages = images.length;

  function showNextImage() {
    currentIndex = (currentIndex + 1) % totalImages;
    document.querySelector('.carousel-images').style.transform = `translateX(-${currentIndex * 100}%)`;
  }

  setInterval(showNextImage, 3000);
</script>