<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>

<% content_for :navbar_custom_content do %>
  <div class="navbar-nav w-100 d-flex justify-content-between align-items-center">
    <div class="d-flex flex-grow-1 justify-content-center">
      <form class="d-flex" action="/search" method="get" style="width: 50%;">
        <div class="input-group">
          <span class="input-group-text" id="search-icon">
            <i class="bi bi-search"></i>
          </span>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
    
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Impostazioni</a></li>
        <li><a class="dropdown-item" href="<%= signout_path %>">Esci</a></li>
      </ul>
    </div>

    <%= link_to 'Premium', payment_path(plan: 'premium'), class: 'nav-link' %>
    
  </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div id="folderTree" class="list-group">
        <% if @current_folder != 'root' %>
          <%= link_to 'Root', dashboard_path(folder_id: 'root'), class: 'list-group-item list-group-item-action' %>
          <% if @parent_folder %>
            <%= link_to @parent_folder.name, dashboard_path(folder_id: @parent_folder.id), class: 'list-group-item list-group-item-action' %>
          <% end %>
        <% end %>
        <% @items.select { |item| item.mime_type == 'application/vnd.google-apps.folder' }.each do |folder| %>
          <%= link_to folder.name, dashboard_path(folder_id: folder.id), class: 'list-group-item list-group-item-action' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-10">
      <h3>Contents of: <%= @current_folder_name %></h3>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <% if item.mime_type == 'application/vnd.google-apps.folder' %>
                  <%= link_to dashboard_path(folder_id: item.id) do %>
                    <i class="fas fa-folder fa-2x"></i>
                    <h5><%= item.name %></h5>
                  <% end %>
                <% else %>
                  <i class="fas fa-file fa-2x"></i>
                  <h5><%= item.name %></h5>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






<%= form_with url: '/upload', local: true, multipart: true do |form| %>
  <%= form.file_field :file %>
  <%= form.submit 'Upload to Google Drive' %>
<% end %>
