<% if notice %>
  <div class="modal fade" id="md_notice" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= notice %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><%= t('dash.close')%></button>
      </div>
    </div>
  </div>
  </div>
  <script>
    modal = new bootstrap.Modal(document.getElementById('md_notice'));
    modal.show();
  </script>

<% end %>

<% if alert %>
  <div class="modal fade" id="md_alert" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" style="color: red;"><%= t('dash.warning')%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= alert %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><%= t('dash.close')%></button>
      </div> 
    </div>
  </div>
  </div>
  <script>
    modal = new bootstrap.Modal(document.getElementById('md_alert'));
    modal.show();
  </script>

<% end %>
<!--modal durante scansione virus-->
<div class="modal fade" id="md_scan" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center"><%= t('dash.virus-analysis')%></h5>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="spinner-border" role="status" style="color: red;">
            <span class="visually-hidden"><%= t('dash.loading')%></span>
          </div>
          <p class="mt-2"><%= t('dash.virus-scan')%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--fine modal scan-->
<!--modal animazione caricamento-->
<div class="modal fade" id="md_loading" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-0 border-0 bg-transparent shadow-none">
      <div class="modal-body p-0">
        <div class="text-center">
          <div class="spinner-border" role="status" style="color: red; width: 4rem; height: 4rem;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal esportazione file-->
<div class="modal fade" id="md_export" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Esportazione in corso può richiedere un pò di tempo:</h5>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="spinner-border" role="status" style="color: red;">
            <span class="visually-hidden"><%= t('dash.loading')%></span>
          </div>
          <p class="mt-2"><%= t('dash.virus-scan')%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :navbar_custom_content do %>
  <div class="navbar-nav w-100 d-flex justify-content-between align-items-center">
    <div class="d-flex flex-grow-1 justify-content-center">
      <form id="search-form" class="d-flex" action="<%= dashboard_path %>" method="get" style="width: 50%;">
        <div class="input-group">
          <span class="input-group-text" id="search-icon">
            <i class="bi bi-search"></i>
          </span>
          <input id="search-input" class="form-control" type="search" placeholder="search" name="search" aria-label="Search">
        </div>
      </form>
    </div>
    
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <% if @google_profile_image.present? %>
          <img src="<%= @google_profile_image %>" alt="Google Profile Image" class="rounded-circle" width="30" height="30">
        <% else %>
          <i class="bi bi-person-circle"></i>
        <% end %>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="<%= settings_path %>"><%= t('dash.settings')%></a></li>
        <li><a class="dropdown-item" href="<%= signout_path %>"><%= t('dash.signout')%></a></li>
      </ul>
    </div>

    <%= link_to t('dash.premium'), payment_path(plan: 'premium'), class: 'nav-link' %>
    
  </div>
<% end %>

<!-- Modal per creare una nuova cartella -->
<div class="modal fade" id="newFolderModal" tabindex="-1" aria-labelledby="newFolderModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newFolderModalLabel"><%= t('dash.new-folder')%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="new-folder-form" action="<%= new_folder_path(folder_id: $current_folder) %>" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="mb-3">
            <label for="folder-name" class="form-label"><%= t('dash.new-folder-name')%></label>
            <input type="text" class="form-control" id="folder-name" name="folder_name" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('dash.close')%></button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('new-folder-form').submit();"><%= t('dash.create-folder')%></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal rinomina -->
<div class="modal fade" id="renameItemModal" tabindex="-1" aria-labelledby="renameItemModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="renameItemModalLabel"><%= t('dash.rename-file')%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="rename-item-form">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="mb-3">
            <label for="item-name" class="form-label"><%= t('dash.new-file-name')%></label>
            <input type="text" class="form-control" id="item-name" name="item_name" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('dash.close')%></button>
        <button type="button" class="btn btn-primary" id="save-changes" data-bs-dismiss="modal"><%= t('dash.rename')%></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Proprietà -->
<div class="modal fade" id="filePropertiesModal" tabindex="-1" aria-labelledby="filePropertiesModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filePropertiesModalLabel"><%= t('dash.file-properties')%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <p id="file-name-text"><%= t('propModal.name')%>: <span id="file-name"></span></p>
          <p id="file-mime_type-text"><%= t('propModal.file-type')%>: <span id="file-mime_type"></span></p>
          <p id="file-size-text"><%= t('propModal.size')%>: <span id="file-size"></span></p>
          <p id="file-created_time-text"><%= t('propModal.creation-date')%>: <span id="file-created_time"></span></p>
          <p id="file-modified_time-text"><%= t('propModal.modified-date')%>: <span id="file-modified_time"></span></p>
          <p id="file-owners-text"><%= t('propModal.owners')%>: <span id="file-owners"></span></p>
          <p id="file-role-text"><%= t('propModal.role')%>: <span id="file-role"></span></p>
          <p id="file-shared-text"><%= t('propModal.shared')%>: <span id="file-shared"></span></p>
          <p id="root_folder_name"><%= t('propModal.contains')%>: <span id="file-contains"></span></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><%= t('dash.close')%></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Condividi -->
<div class="modal fade" id="shareItemModal" tabindex="-1" aria-labelledby="shareItemModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareItemModalLabel"><%= t('dash.share-file')%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="share-item-form">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="mb-3">
            <label for="share-email" class="form-label">Email</label>
            <input type="email" class="form-control" id="share-email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="share-permission" class="form-label"><%= t('dash.permissions')%></label>
            <select class="form-control" id="share-permission" name="permission" required>
              <option value="writer"><%= t('dash.editor')%></option>
              <option value="commenter"><%= t('dash.commenter')%></option>
              <option value="reader"><%= t('dash.viewer')%></option>
            </select>
          </div>
          <div class="mb-3">
            <label for="share-notify" class="form-label"><%= t('dash.notify')%></label>
            <input type="checkbox" class="form-check-input" id="share-notify" name="notify" checked>
          </div>
          <div class="mb-3">
            <label for="share-message" class="form-label"><%= t('dash.message')%></label>
            <textarea class="form-control" id="share-message" name="message" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('dash.close')%></button>
        <button type="button" class="btn btn-primary" id="share-file" data-bs-dismiss="modal"><%= t('dash.share')%></button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <% if $current_folder == 'bin' %>
        <%= form_with url: empty_bin_path, method: :post, local: true do %>
          <div class="d-flex justify-content-center mt-3">
            <%= button_to 'Svuota Cestino', empty_bin_path, method: :post, class: 'btn btn-danger', data: { confirm: 'Sei sicuro di voler svuotare il cestino?' } %>
          </div>
        <% end %>
      <% end %>
          <div id="folderTree" class="list-group">
            <% if $current_folder != 'root' and $current_folder != @root_folder_id %>
              <% if @parent_folder and @parent_folder.name != @root_folder_name %>
                <%= link_to @root_folder_name, dashboard_path(folder_id: 'root'), class: 'list-group-item list-group-item-action' %>
              <% end %>
              <% if @parent_folder %>
                <%= link_to @parent_folder.name, dashboard_path(folder_id: @parent_folder.user_folder_id), class: 'list-group-item list-group-item-action' %>
              <% else %>
                <%= link_to @root_folder_name, dashboard_path(folder_id: 'root'), class: 'list-group-item list-group-item-action' %>
              <% end %>
            <% end %>
            <% if $current_folder != 'bin' %>
              <%= link_to t('dash.trash'), dashboard_path(folder_id: 'bin'), class: 'list-group-item list-group-item-action' %>
            <% end %>

            <% @items.select { |item| item.mime_type == 'application/vnd.google-apps.folder' }.each do |folder| %>
              <div class="list-group-item list-group-item-action folder-item">
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder-fill fs-3 me-2"></i>
                  <%= link_to folder.name, dashboard_path(folder_id: folder.user_folder_id), class: 'text-dark w-100' %>
                  <button class="btn btn-link folder-toggle" type="button">
                    <i class="bi bi-chevron-down ms-2"></i>
                  </button>
                </div>
                <div class="folder-contents" style="display: none;">
                  <% @all_items.select { |item| item.mime_type == 'application/vnd.google-apps.folder' }.each do |subfolder| %>
                    <% parent = Parent.find_by(itemid: folder.user_folder_id)%>
                    <% son = UserFolder.find_by(user_folder_id: subfolder.user_folder_id)%>
                    <% if parent and son %>
                      <% hasParent = HasParent.find_by(parent_id: parent.id, item_id: son.id) %>
                      <% if hasParent and hasParent.parent_id != hasParent.item_id %>
                        <div class="list-group-item list-group-item-action">
                          <i class="bi bi-folder-fill fs-3 me-2"></i>
                          <%= link_to subfolder.name, dashboard_path(folder_id: subfolder.user_folder_id), class: 'text-dark w-100' %>
                        </div>
                      <% end %>
                    <% end %>
                    
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
      <div class="progress">
        <div 
          class="progress-bar" 
          role="progressbar" 
          style="width: <%= (@used_space.to_f / @total_space.to_f) * 100 %>%" 
          aria-valuenow="<%= (@used_space.to_f / @total_space.to_f) * 100 %>" 
          aria-valuemin="0" 
          aria-valuemax="100">
          <%= number_to_percentage((@used_space.to_f / @total_space.to_f) * 100, precision: 2) %>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <div class="dropdown">
          <button class="btn btn-transparent rounded-circle border border-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="width: 50px; height: 50px; padding: 0;">
            <i class="fas fa-plus text-dark"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#newFolderModal"><%= t('dash.new-folder')%></a></li>
            <li>
              <form id="upload-form" action="<%= upload_path(folder_id: $current_folder) %>" method="post" enctype="multipart/form-data" style="display: none;">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="file" name="file" id="file-input" onchange="handleFileSelect(); apri_modal('md_scan');">
              </form>
              <a class="dropdown-item" href="#" onclick=" document.getElementById('file-input').click(); return false;"><%= t('dash.upload-file')%></a>
            </li>
            <li>
              <form id="upload-folder-form" action="<%= upload_folder_path(folder_id: $current_folder) %>" method="post" enctype="multipart/form-data" style="display: none;">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= hidden_field_tag :folder_name, '' %>
                <input type="file" name="files[]" id="folder-input" webkitdirectory multiple onchange="handleFolderSelect(); apri_modal('md_scan');">
              </form>
              <a class="dropdown-item" href="#" onclick="document.getElementById('folder-input').click(); return false;"><%= t('dash.upload-folder')%></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h3>Contents of: <%= $current_folder_name %></h3>
      <div class="row mb-4">
        <div class="col-md-3">
          <select id="order-selector" class="form-select">
            <option value="asc">Ordina per Nome (A-Z)</option>
            <option value="desc">Ordina per Nome (Z-A)</option>
          </select>
        </div>
      </div>
      <div class="row" id="items-container">
        <% @items.sort { |a, b| a.name.downcase <=> b.name.downcase }.each do |item| %>
          <div class="col-md-3" data-name="<%= item.name.downcase %>">
            <div class="card mb-4 shadow-sm">
              <div class="card-body text-center position-relative">
                <% if item.mime_type == 'application/vnd.google-apps.folder' %>
                  <%= link_to dashboard_path(folder_id: item.user_folder_id), class: 'text-decoration-none text-dark' do %>
                    <i class="bi bi-folder-fill fs-3 mb-2"></i>
                    <h5 class="card-title" id="item-name-<%= item.user_folder_id %>"><%= item.name %></h5>
                  <% end %>
                <% else %>
                  <%= link_to item.web_view_link, target: "_blank" ,class: 'text-decoration-none text-dark' do %>
                    <img src="<%= item.icon_link %>" alt="Icona" class="bi img-fluid mb-2" style="width: 22px; height: 22px;" />
                    <h5 class="card-title" id="item-name-<%= item.user_file_id %>"><%= item.name %></h5>
                  <% end %>
                <% end %>

                <!-- Dropdown menu -->
                <div class="dropdown position-absolute top-0 end-0 mt-2 me-2">
                  <button class="btn btn-link dropdown-toggle p-0" type="button" id="dropdownMenu<%= item.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu<%= item.id %>">
                    <% if item.mime_type == 'application/vnd.google-apps.folder' %>
                      <li><%= link_to t('dash.open'), dashboard_path(folder_id: item.user_folder_id), class: 'dropdown-item' %></li>
                    <% else %>
                      <li><a href="<%=item.web_view_link%>" class="dropdown-item file-preview-link" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>" target="_blank"><%= t('dash.open')%></a></li>
                    <% end %>
                    <% if item.mime_type == 'application/vnd.google-apps.folder' %>
                      <li><a href="javascript:void(0);" class="dropdown-item rename-item" data-id="<%= item.user_folder_id %>" data-folder-id="<%= $current_folder %>">Rinomina</a></li>
                      <li><a href="javascript:void(0);" class="dropdown-item share-item" data-id="<%= item.user_folder_id %>" data-folder-id="<%= $current_folder %>">Condividi</a></li>
                    <% else %>
                      <li><a href="javascript:void(0);" class="dropdown-item rename-item" data-id="<%= item.user_file_id %>" data-folder-id="<%= $current_folder %>">Rinomina</a></li>
                      <li><a href="javascript:void(0);" class="dropdown-item share-item" data-id="<%= item.user_file_id %>" data-folder-id="<%= $current_folder %>">Condividi</a></li>
                    <% end %>
                    <% if item.mime_type == 'application/vnd.google-apps.folder' %>
                      <li><a href="javascript:void(0);" class="dropdown-item export-folder" data-id="<%= item.user_folder_id %>" data-folder-id="<%= $current_folder %>" id="folder-export-<%= item.id %>">Scarica</a></li>
                    <% else %>
                      <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.user_file_id %>" data-folder-id="<%= $current_folder %>" type="SELF">Scarica</a></li>
                      <!-- If per i file supportati alla conversione-->
                      <% if item.file_extension=="docx" %>
                        <li class="dropdown-submenu">
                          <a id="expot_as"href="javascript:void(0);" class="dropdown-item dropdown-toggle" href="#" role="button" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>">Scarica come</a>
                          <ul id="submenu" class="dropdown-menu submenu">
                            <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PDF">PDF</a></li>
                          </ul>
                        </li>
                      <% elsif item.file_extension=="odt"%>

                        <li class="dropdown-submenu">
                        <a id="expot_as"href="javascript:void(0);" class="dropdown-item dropdown-toggle" href="#" role="button" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>">Scarica come</a>
                        <ul id="submenu" class="dropdown-menu submenu">
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="DOCX">DOCX</a></li>
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PDF">PDF</a></li>
                        </ul>

                      <% elsif item.file_extension=="xlsx"%>
                        <li class="dropdown-submenu">
                        <a id="expot_as"href="javascript:void(0);" class="dropdown-item dropdown-toggle" href="#" role="button" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>">Scarica come</a>
                        <ul id="submenu" class="dropdown-menu submenu">
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PDF">PDF</a></li>
                        </ul>
                      <% elsif item.file_extension=="ods"%>
                        <li class="dropdown-submenu">
                        <a id="expot_as"href="javascript:void(0);" class="dropdown-item dropdown-toggle" href="#" role="button" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>">Scarica come</a>
                        <ul id="submenu" class="dropdown-menu submenu">
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="XLSX">XLSX</a></li>
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PDF">PDF</a></li>
                        </ul>
                      <% elsif item.file_extension=="pptx"%>
                        <li class="dropdown-submenu">
                        <a id="expot_as"href="javascript:void(0);" class="dropdown-item dropdown-toggle" href="#" role="button" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>">Scarica come</a>
                        <ul id="submenu" class="dropdown-menu submenu">
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PDF">PDF</a></li>
                        </ul>
                      <% elsif item.file_extension=="odp"%>
                        <li class="dropdown-submenu">
                        <a id="expot_as"href="javascript:void(0);" class="dropdown-item dropdown-toggle" href="#" role="button" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>">Scarica come</a>
                        <ul id="submenu" class="dropdown-menu submenu">
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PPTX">PPTX</a></li>
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PDF">PDF</a></li>
                        </ul>
                      <%elsif item.file_extension=="png"%>
                        <li class="dropdown-submenu">
                        <a id="expot_as"href="javascript:void(0);" class="dropdown-item dropdown-toggle" href="#" role="button" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>">Scarica come</a>
                        <ul id="submenu" class="dropdown-menu submenu">
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="JPG">JPG</a></li>
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PDF">PDF</a></li>
                        </ul>
                      <%elsif item.file_extension=="jpg"%>
                        <li class="dropdown-submenu">
                        <a id="expot_as"href="javascript:void(0);" class="dropdown-item dropdown-toggle" href="#" role="button" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>">Scarica come</a>
                        <ul id="submenu" class="dropdown-menu submenu">
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PNG">PNG</a></li>
                          <li><a href="javascript:void(0);" class="dropdown-item export-item" data-id="<%= item.id%>" data-folder-id="<%= $current_folder %>" type="PDF">PDF</a></li>
                        </ul>
                      <%end%>
                    <% end %>
                    <li class="dropdown-submenu">
                      <a id="expot_as"href="javascript:void(0);" class="dropdown-item dropdown-toggle" href="#" role="button" data-id="<%= item.id %>" data-folder-id="<%= $current_folder %>">Sposta</a>
                      <ul id="submenu" class="dropdown-menu submenu">
                        <% if $current_folder_name != @root_folder_name %>
                          <li>
                              <a href="javascript:void(0);" class="dropdown-item move-item">
                                <%= link_to @root_folder_name, move_item_path(folder_id: @root_folder_id, item_id: item.id), class: 'dropdown-item' %>
                              </a>
                            </li>
                          <li>
                        <% end %>
                        <% @all_items.select { |item| item.mime_type == 'application/vnd.google-apps.folder' }.each do |folder| %>
                            <a href="javascript:void(0);" class="dropdown-item move-item" data-id="<%= item.id %>" data-folder-id="<%= folder.id %>">
                              <%= link_to folder.name, move_item_path(folder_id: folder.id, item_id: item.id), class: 'dropdown-item' %>
                            </a>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                    <li><%= form_with url: delete_item_path, method: :delete, local: true, class: 'd-inline' do %>
                        <% if item.mime_type == 'application/vnd.google-apps.folder' %>
                          <%= hidden_field_tag :item_id, item.user_folder_id %>
                        <% else %>
                          <%= hidden_field_tag :item_id, item.user_file_id %>
                        <% end %>
                        <%= hidden_field_tag :folder_id, $current_folder %>
                        <button type="submit" class="dropdown-item"><%= t('dash.delete')%></button>
                        <% end %>
                    </li>
                    <% if item.mime_type == 'application/vnd.google-apps.folder' %>
                      <li><a href="javascript:void(0);" class="dropdown-item properties-item" data-id="<%= item.user_folder_id %>" data-folder-id="<%= $current_folder %>" data-is-folder="<%= item.mime_type %>"><%= t('dash.properties')%></a></li>
                    <% else %>
                      <li><a href="javascript:void(0);" class="dropdown-item properties-item" data-id="<%= item.user_file_id %>" data-file-id="<%= $current_folder %>" data-is-folder="<%= item.mime_type %>"><%= t('dash.properties')%></a></li>
                    <% end %>
                  </ul>
                  <%= @total_space %>
                  <%= @used_space %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>

<style>
  .card-body i {
    display: block;
    margin-bottom: 0.5rem;
  }
   .card-body h5 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .folder-toggle {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    margin-left: auto;
  }

  .folder-contents {
    padding-left: 20px;
    margin-top: 5px;
  }

  /* Rimuove la freccia verso il basso dai pulsanti dropdown-toggle */
  .dropdown-toggle::after {
    display: none;
  }
  /* Rimuove la freccia verso il basso dai pulsanti dropdown-toggle */
  .dropdown-toggle::after {
    display: none;
  }

  .btn-transparent {
    background-color: transparent;
  }
  .dropdown-menu {
    min-width: auto;
  }

  .border-dark {
    border-color: #000 !important;
  }

  .text-dark {
    color: #000 !important;
  }

  .folder-item .text-dark {
    white-space: nowrap;         /* Impedisce al testo di andare a capo */
    overflow: hidden;            /* Nasconde il testo che eccede il contenitore */
    text-overflow: ellipsis;     /* Aggiunge un'ellisse alla fine del testo tronco */
  }

</style>