<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div id="folderTree" class="list-group">
        <% if @current_folder != 'root' %>
          <%= link_to 'Root', dashboard_path(folder_id: 'root'), class: 'list-group-item list-group-item-action' %>
          <% if @parent_folder %>
            <%= link_to @parent_folder.name, dashboard_path(folder_id: @parent_folder.id), class: 'list-group-item list-group-item-action' %>
          <% end %>
        <% end %>
        <% @items.select { |item| item.mime_type == 'application/vnd.google-apps.folder' }.each do |folder| %>
          <%= link_to folder.name, dashboard_path(folder_id: folder.id), class: 'list-group-item list-group-item-action' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-10">
      <h3>Contents of: <%= @current_folder_name %></h3>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <% if item.mime_type == 'application/vnd.google-apps.folder' %>
                  <%= link_to dashboard_path(folder_id: item.id) do %>
                    <i class="fas fa-folder fa-2x"></i>
                    <h5><%= item.name %></h5>
                  <% end %>
                <% else %>
                  <i class="fas fa-file fa-2x"></i>
                  <h5><%= item.name %></h5>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






  <%= form_with url: '/upload', local: true, multipart: true do |form| %>
    <%= form.file_field :file %>
    <%= form.submit 'Upload to Google Drive' %>
  <% end %>
