<!-- Modal Bootstrap -->
<div class="modal fade" id="editNameModal" tabindex="-1" aria-labelledby="editNameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editNameModalLabel">Modifica Nome Utente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editNameForm">
          <div class="mb-3">
            <label for="newName" class="form-label">Nuovo Nome</label>
            <input type="text" class="form-control" id="newName" name="newName" required>
          </div>
          <button type="submit" class="btn btn-primary">Salva</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
    <div class="settings-container">
        <div class="settings-sidebar">
        <%= link_to dashboard_path, class: 'btn btn-link text-decoration-none text-dark' do %>
            <%= t('settings.all-files')%>
        <% end %>
        </div>
        <div class="settings-content">
          <h4><%= t('settings.info')%></h4>
          <hr>
          <div class="settings-item">
            <h5><%= t('settings.name')%></h5>
            <div>
              <span id="nome"><%= @user.username %></span>
              <a id="edit-name" href="#" data-bs-toggle="modal" data-bs-target="#editNameModal"><%= t('settings.modify')%></a>
            </div>
          </div>
          <hr>
          <div class="settings-item">
            <h5><%= t('settings.email')%></h5>
            <div>
              <span id="mail"><%= @user.email %></span>
            </div>
          </div>
          <hr>
          <div class="settings-item">
            <h5><%= t('settings.profile-image')%></h5>
            <div>
              <% if @google_profile_image.present? %>
                <img src="<%= @google_profile_image %>" alt="Google Profile Image" class="rounded-circle" width="100" height="100">
              <% else %>
                <p><%= t('settings.no-image')%></p>
              <% end %>
            </div>
          </div>
          <hr>
          <h4><%= t('settings.delete-account')%></h4>
          <hr>
          <div class="settings-item">
            <h5><%= t('settings.delete-drive')%></h5>
            <a id="delete-account" onclick="deleteAccount()"><%= t('settings.delete-account-lower')%></a>
          </div>
        </div>

    </div>
</div>

<style>
    .settings-container {
      display: flex;
    }
    .settings-sidebar {
      width: 30%;
      padding: 20px;
      border-right: 1px solid #ddd;
    }
    .settings-content {
      width: 70%;
      padding: 20px;
    }
    .settings-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    .settings-item h5 {
      margin: 0;
    } 
    .settings-item a {
        cursor: pointer;
        color: #007bff;
        text-decoration: underline; /* Aggiunge la sottolineatura per evidenziare il link */
    }

    .settings-item a:hover {
        text-decoration: underline;
        color: #0056b3; /* Colore del link al passaggio del mouse */
    }
  </style>


<script>
function deleteAccount() {
    if (confirm(<%= t('settings.delete-confirmation')%>)) {
      // Esegui la logica di eliminazione dell'account
      fetch('/delete_account', {
        method: 'DELETE',
        headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      },
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          // Gestisci la risposta del server dopo l'eliminazione dell'account
          alert('Account eliminato');
          window.location.href = '/';
        } else {
          // Gestisci l'errore in caso di fallimento della richiesta
          alert(<%= t('settings.delete-message')%>);
        }
      })
      .catch(error => {
        // Gestisci l'errore in caso di fallimento della richiesta
        alert(<%= t('settings.delete-message')%>);
      });
    }
}
</script>