<div class="container mt-5">
    <div class="settings-container">
        <div class="settings-sidebar">
        <%= link_to dashboard_path, class: 'btn btn-link text-decoration-none text-dark' do %>
            <%= t('settings.all-files')%>
        <% end %>
        </div>
        <div class="settings-content">
          <h4><%= t('settings.info')%></h4>
          <hr>
          <div class="settings-item">
            <h5><%= t('settings.name')%></h5>
            <div>
              <span id="nome"><%= @user.name %></span>
              <a id="edit-name" onclick="editName()"><%= t('settings.modify')%></a>
            </div>
          </div>
          <hr>
          <div class="settings-item">
            <h5><%= t('settings.email')%></h5>
            <div>
              <span id="mail"><%= @user.email %></span>
            </div>
          </div>
          <hr>
          <div class="settings-item">
            <h5><%= t('settings.profile-image')%></h5>
            <div>
              <% if @google_profile_image.present? %>
                <img src="<%= @google_profile_image %>" alt="Google Profile Image" class="rounded-circle" width="100" height="100">
              <% else %>
                <p><%= t('settings.no-image')%></p>
              <% end %>
            </div>
          </div>
          <hr>
          <h4><%= t('settings.delete-account')%></h4>
          <hr>
          <div class="settings-item">
            <h5><%= t('settings.delete-drive')%></h5>
            <a id="delete-account" onclick="deleteAccount()"><%= t('settings.delete-account-lower')%></a>
          </div>
        </div>

    </div>
</div>

<style>
    .settings-container {
      display: flex;
    }
    .settings-sidebar {
      width: 30%;
      padding: 20px;
      border-right: 1px solid #ddd;
    }
    .settings-content {
      width: 70%;
      padding: 20px;
    }
    .settings-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    .settings-item h5 {
      margin: 0;
    } 
    .settings-item a {
        cursor: pointer;
        color: #007bff;
        text-decoration: underline; /* Aggiunge la sottolineatura per evidenziare il link */
    }

    .settings-item a:hover {
        text-decoration: underline;
        color: #0056b3; /* Colore del link al passaggio del mouse */
    }
  </style>


<script>
function deleteAccount() {
    if (confirm(<%= t('settings.delete-confirmation')%>)) {
    // Esegui la logica di eliminazione dell'account
    alert(<%= t('settings.delete-message')%>);
    }
}
</script>